/* src/App.css */

.Sem {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .Sem-header {
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 70px;
  }
  
  .Sem-header h1 {
    margin: 0;
  }
  
  .Sem-header p {
    margin: 10px 0;
    font-size: 18px;
    margin-top: 50px;
  }
  
  section {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  section h2 {
    color: #004d4D;
    margin-bottom: 10px;
  }
  
  section p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  