body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #dcae1d;
  margin-top: 100px;
  text-align: center;
}


/* src/App.css */

.container {
  display: flex; /* Usamos Flexbox para organizar los elementos */
  justify-content: space-between; /* Espaciado entre la imagen y la información */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  text-align: center;
  margin-top: 60px; /* Espacio para que no quede pegado al navbar */
  width: 70%;
  margin-left: 13%;
  
}

.image-section {
  flex: 1; /* La sección de imagen ocupa 1 parte del espacio disponible */
  max-width: 50%; /* La imagen no ocupará más del 50% del contenedor */
  margin-right: 20px; /* Espacio entre la imagen y la sección de información */
}

.image-section img {
  width: 60%; /* La imagen ocupa el 100% del contenedor */
  height: 40%; /* Mantiene la proporción de la imagen */
}

.info-section {
  flex: 2; /* La sección de información ocupa 2 partes del espacio disponible */
  max-width: 50%; /* Limita el tamaño máximo a 50% */
}

.info-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.info-section p {
  font-size: 20px;
  line-height: 1.6;
}